@import "tailwindcss";


body {
  background: #000;
  color: #fff;
  font-family: "inter", Helvetica, sans-serif;
}

.font-inter {
  font-family: "inter", Arial, Helvetica, sans-serif;
}

.font-outfit {
  font-family: "outfit", Arial, Helvetica, sans-serif;
}